## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
count=application_df.nunique()
print(count)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binnig
print(application_df.APPLICATION_TYPE.value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [1]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

NameError: name 'application_df' is not defined

In [6]:
# Look at CLASSIFICATION value counts for binning
print(application_df.CLASSIFICATION.value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
cls_count=application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1] 
print(cls_count)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ["C700","C1700","C4000","C5000","C1270","C2700","C2800","C7100","C1300", "C1280", "C1230","C1400","C7200","C2300","C1240","C8000","C7120","C1500","C1800", "C6000","C1250","C8200","C1238","C1278","C1235","C1237","C7210","C2400","C1720","C4100","C1257","C1600","C1260","C2710","C0","C3200", "C1234", "C1246", "C1267", "C1256", "C1370","C1236", "C2190", "C4200", "C5200", "C6100", "C2600", "C1248", "C1580", "C1820", "C1900", "C2570", "C1283", "C3700", "C2500", "C1570", "C2380", "C1732", "C1728", "C2170", "C4120", "C8210", "C4500", "C1245", "C2561", "C2150", "C7000"]


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_application = pd.get_dummies(application_df["APPLICATION_TYPE"])

numeric_classification = pd.get_dummies(application_df["CLASSIFICATION"])

In [10]:
# Split our preprocessed data into our features and target arrays

target = application_df["IS_SUCCESSFUL"].values
features = pd.concat([numeric_application, numeric_classification], axis=1)

X = features
y = target

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [26]:
X_train.shape[1]

15

## Compile, Train and Evaluate the Model

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 128

 dense_4 (Dense)             (None, 5)                 45

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 179 (716.00 Byte)
Trainable params: 179 (716.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
X_train_scaled.shape

(27439, 15)

In [30]:
y_train.shape

(27439,)

In [31]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
858/858 [==============================] - 7s 5ms/step - loss: 0.6676 - accuracy: 0.6020
Epoch 2/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6476 - accuracy: 0.6137
Epoch 3/100
858/858 [==============================] - 5s 5ms/step - loss: 0.6441 - accuracy: 0.6139
Epoch 4/100
858/858 [==============================] - 5s 6ms/step - loss: 0.6434 - accuracy: 0.6155
Epoch 5/100
858/858 [==============================] - 5s 6ms/step - loss: 0.6431 - accuracy: 0.6124
Epoch 6/100
858/858 [==============================] - 5s 5ms/step - loss: 0.6429 - accuracy: 0.6138
Epoch 7/100
858/858 [==============================] - 5s 6ms/step - loss: 0.6427 - accuracy: 0.6125
Epoch 8/100
858/858 [==============================] - 5s 5ms/step - loss: 0.6426 - accuracy: 0.6124
Epoch 9/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6425 - accuracy: 0.6144
Epoch 10/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6425 - accuracy: 0.6141
Epoch 11/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6423 - accuracy: 0.6139
Epoch 12/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6424 - accuracy: 0.6139
Epoch 13/100
858/858 [==============================] - 5s 5ms/step - loss: 0.6423 - accuracy: 0.6132
Epoch 14/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6423 - accuracy: 0.6138
Epoch 15/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6422 - accuracy: 0.6145
Epoch 16/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6423 - accuracy: 0.6118
Epoch 17/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6421 - accuracy: 0.6133
Epoch 18/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6422 - accuracy: 0.6136
Epoch 19/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6422 - accuracy: 0.6162
Epoch 20/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6422 - accuracy: 0.6144
Epoch 21/100
858/858 [==============================] - 5s 5ms/step - loss: 0.6422 - accuracy: 0.6137
Epoch 22/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6422 - accuracy: 0.6120
Epoch 23/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6422 - accuracy: 0.6143
Epoch 24/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6421 - accuracy: 0.6127
Epoch 25/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6420 - accuracy: 0.6131
Epoch 26/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6420 - accuracy: 0.6142
Epoch 27/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6421 - accuracy: 0.6153
Epoch 28/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6419 - accuracy: 0.6138
Epoch 29/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6420 - accuracy: 0.6142
Epoch 30/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6420 - accuracy: 0.6136
Epoch 31/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6421 - accuracy: 0.6147
Epoch 32/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6420 - accuracy: 0.6141
Epoch 33/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6422 - accuracy: 0.6139
Epoch 34/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6421 - accuracy: 0.6144
Epoch 35/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6419 - accuracy: 0.6130
Epoch 36/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6420 - accuracy: 0.6133
Epoch 37/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6420 - accuracy: 0.6130
Epoch 38/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6420 - accuracy: 0.6137
Epoch 39/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6421 - accuracy: 0.6138
Epoch 40/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6420 - accuracy: 0.6144
Epoch 41/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6419 - accuracy: 0.6138
Epoch 42/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6420 - accuracy: 0.6131
Epoch 43/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6421 - accuracy: 0.6130
Epoch 44/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6419 - accuracy: 0.6143
Epoch 45/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6420 - accuracy: 0.6149
Epoch 46/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6420 - accuracy: 0.6142
Epoch 47/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6421 - accuracy: 0.6139
Epoch 48/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6419 - accuracy: 0.6148
Epoch 49/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6420 - accuracy: 0.6141
Epoch 50/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6418 - accuracy: 0.6147
Epoch 51/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6419 - accuracy: 0.6139
Epoch 52/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6419 - accuracy: 0.6149
Epoch 53/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6419 - accuracy: 0.6123
Epoch 54/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6418 - accuracy: 0.6135
Epoch 55/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6419 - accuracy: 0.6141
Epoch 56/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6418 - accuracy: 0.6135
Epoch 57/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6418 - accuracy: 0.6138
Epoch 58/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6418 - accuracy: 0.6165
Epoch 59/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6417 - accuracy: 0.6149
Epoch 60/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6419 - accuracy: 0.6138
Epoch 61/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6418 - accuracy: 0.6141
Epoch 62/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6418 - accuracy: 0.6145
Epoch 63/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6419 - accuracy: 0.6128
Epoch 64/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6419 - accuracy: 0.6130
Epoch 65/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6418 - accuracy: 0.6145
Epoch 66/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6417 - accuracy: 0.6144
Epoch 67/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6419 - accuracy: 0.6133
Epoch 68/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6417 - accuracy: 0.6136
Epoch 69/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6418 - accuracy: 0.6122
Epoch 70/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6419 - accuracy: 0.6110
Epoch 71/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6418 - accuracy: 0.6153
Epoch 72/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6418 - accuracy: 0.6146
Epoch 73/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6417 - accuracy: 0.6153
Epoch 74/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6417 - accuracy: 0.6154
Epoch 75/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6418 - accuracy: 0.6149
Epoch 76/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6416 - accuracy: 0.6139
Epoch 77/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6417 - accuracy: 0.6136
Epoch 78/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6416 - accuracy: 0.6141
Epoch 79/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6418 - accuracy: 0.6160
Epoch 80/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6416 - accuracy: 0.6161
Epoch 81/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6417 - accuracy: 0.6154
Epoch 82/100
858/858 [==============================] - 4s 4ms/step - loss: 0.6417 - accuracy: 0.6143
Epoch 83/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6416 - accuracy: 0.6137
Epoch 84/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6417 - accuracy: 0.6139
Epoch 85/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6416 - accuracy: 0.6132
Epoch 86/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6415 - accuracy: 0.6139
Epoch 87/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6417 - accuracy: 0.6132
Epoch 88/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6416 - accuracy: 0.6166
Epoch 89/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6418 - accuracy: 0.6129
Epoch 90/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6417 - accuracy: 0.6138
Epoch 91/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6417 - accuracy: 0.6134
Epoch 92/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6416 - accuracy: 0.6130
Epoch 93/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6417 - accuracy: 0.6147
Epoch 94/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6416 - accuracy: 0.6153
Epoch 95/100
858/858 [==============================] - 5s 6ms/step - loss: 0.6416 - accuracy: 0.6128
Epoch 96/100
858/858 [==============================] - 5s 5ms/step - loss: 0.6415 - accuracy: 0.6148
Epoch 97/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6417 - accuracy: 0.6139
Epoch 98/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6415 - accuracy: 0.6157
Epoch 99/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6416 - accuracy: 0.6127
Epoch 100/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6416 - accuracy: 0.6144

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.6490 - accuracy: 0.6127 - 1s/epoch - 6ms/step
Loss: 0.648998498916626, Accuracy: 0.6126822233200073

In [39]:
import h5py
# # Export our model to HDF5 file
# hdf5_file = h5py.File('AlphabetSoupCharity.h5', 'w')

# # Save your results to the HDF5 file
# hdf5_file.create_dataset('results', data=fit_model)

# # Close the HDF5 file
# hdf5_file.close()

C:\Users\hajar\AppData\Local\Temp\ipykernel_6368\3759715061.py:5: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  save_model(fit_model, model_file)

AttributeError: 'History' object has no attribute 'outputs'